<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.1/6.0 MB 2.0 MB/s eta 0:00:03
     - -------------------------------------- 0.2/6.0 MB 1.7 MB/s eta 0:00:04
     - -------------------------------------- 0.3/6.0 MB 1.9 MB/s eta 0:00:04
     -- ------------------------------------- 0.4/6.0 MB 2.1 MB/s eta 0:00:03
     -- ------------------------------------- 0.4/6.0 MB 1.8 MB/s eta 0:00:04
     --- ------------------------------------ 0.5/6.0 MB 1.9 MB/s eta 0:00:03
     --- ------------------------------------ 0.6/6.0 MB 1.9 MB/s eta 0:00:03
     ---- ----------------------------------- 0.7/6.0 MB 1.9 MB/s eta 0:00:03
     ----- ---------------------------------- 0.8/6.0 MB 1.9 MB/s eta 0:00:03
     ------ --------------------------------- 0.9/6.0 MB 2.0 MB/s eta 0:00:03
     ------ --------------------------------- 1.0/6.0 MB 2.0 MB/s eta 0:00:03
     ------- -------------------------------- 1.1/6.0 MB 2.0 MB/s eta 0:00:03
     -------- ------------------------------- 1.3/6.0 MB 2.0 MB/s eta 0:00:03
     --------- ------------------------------ 1.4/6.0 MB 2.0 MB/s eta 0:00:03
     ---------- ----------------------------- 1.5/6.0 MB 2.1 MB/s eta 0:00:03
     ---------- ----------------------------- 1.6/6.0 MB 2.1 MB/s eta 0:00:03
     ----------- ---------------------------- 1.7/6.0 MB 2.1 MB/s eta 0:00:03
     ------------ --------------------------- 1.8/6.0 MB 2.1 MB/s eta 0:00:02
     ------------ --------------------------- 1.9/6.0 MB 2.1 MB/s eta 0:00:02
     ------------- -------------------------- 2.0/6.0 MB 2.1 MB/s eta 0:00:02
     -------------- ------------------------- 2.1/6.0 MB 2.1 MB/s eta 0:00:02
     -------------- ------------------------- 2.2/6.0 MB 2.1 MB/s eta 0:00:02
     --------------- ------------------------ 2.4/6.0 MB 2.1 MB/s eta 0:00:02
     ---------------- ----------------------- 2.5/6.0 MB 2.1 MB/s eta 0:00:02
     ----------------- ---------------------- 2.6/6.0 MB 2.1 MB/s eta 0:00:02
     ----------------- ---------------------- 2.7/6.0 MB 2.1 MB/s eta 0:00:02
     ------------------ --------------------- 2.8/6.0 MB 2.1 MB/s eta 0:00:02
     ------------------- -------------------- 2.8/6.0 MB 2.1 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 2.1 MB/s eta 0:00:02
     -------------------- ------------------- 3.0/6.0 MB 2.1 MB/s eta 0:00:02
     -------------------- ------------------- 3.1/6.0 MB 2.1 MB/s eta 0:00:02
     --------------------- ------------------ 3.1/6.0 MB 2.1 MB/s eta 0:00:02
     --------------------- ------------------ 3.2/6.0 MB 2.0 MB/s eta 0:00:02
     --------------------- ------------------ 3.3/6.0 MB 2.0 MB/s eta 0:00:02
     ---------------------- ----------------- 3.4/6.0 MB 2.0 MB/s eta 0:00:02
     ----------------------- ---------------- 3.5/6.0 MB 2.0 MB/s eta 0:00:02
     ------------------------ --------------- 3.6/6.0 MB 2.0 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 2.0 MB/s eta 0:00:02
     ------------------------- -------------- 3.8/6.0 MB 2.0 MB/s eta 0:00:02
     ------------------------- -------------- 3.9/6.0 MB 2.0 MB/s eta 0:00:02
     -------------------------- ------------- 4.0/6.0 MB 2.0 MB/s eta 0:00:02
     --------------------------- ------------ 4.1/6.0 MB 2.0 MB/s eta 0:00:01
     --------------------------- ------------ 4.2/6.0 MB 2.0 MB/s eta 0:00:01
     ---------------------------- ----------- 4.2/6.0 MB 2.0 MB/s eta 0:00:01
     ----------------------------- ---------- 4.3/6.0 MB 2.0 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 2.0 MB/s eta 0:00:01
     ------------------------------ --------- 4.5/6.0 MB 2.0 MB/s eta 0:00:01
     ------------------------------ --------- 4.6/6.0 MB 2.0 MB/s eta 0:00:01
     ------------------------------- -------- 4.8/6.0 MB 2.0 MB/s eta 0:00:01
     -------------------------------- ------- 4.8/6.0 MB 2.0 MB/s eta 0:00:01
     --------------------------------- ------ 4.9/6.0 MB 2.0 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 2.0 MB/s eta 0:00:01
     ---------------------------------- ----- 5.1/6.0 MB 2.0 MB/s eta 0:00:01
     ---------------------------------- ----- 5.2/6.0 MB 2.0 MB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 2.0 MB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 2.0 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 2.0 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 2.0 MB/s eta 0:00:01
     -------------------------------------- - 5.7/6.0 MB 2.0 MB/s eta 0:00:01
     ---------------------------------------  5.8/6.0 MB 2.0 MB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 2.0 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-win_amd64.whl size=1142947 sha256=1c4f30bf8d764ba4f71d7380b0c57f02b8365e8e85b715be765961a281eeabad
  Stored in directory: c:\users\imenb\appdata\local\pip\cache\wheels\5b\43\0d\de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.9

In [6]:
!pip3 install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting ipython-genutils
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.20-cp39-cp39-win_amd64.whl (2.0 MB)
     ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
     -- ------------------------------------- 0.1/2.0 MB 2.4 MB/s eta 0:00:01
     --- ------------------------------------ 0.2/2.0 MB 1.5 MB/s eta 0:00:02
     ---- ----------------------------------- 0.2/2.0 MB 1.8 MB/s eta 0:00:02
     ----- ---------------------------------- 0.3/2.0 MB 1.5 MB/s eta 0:00:02
     ------ --------------------------------- 0.3/2.0 MB 1.4 MB/s eta 0:00:02
     ------- -------------------------------- 0.4/2.0 MB 1.3 MB/s eta 0:00:02
     --------- ------------------------------ 0.5/2.0 MB 1.4 MB/s eta 0:00:02
     ----------- ---------------------------- 0.6/2.0 MB 1.5 MB/s eta 0:00:01
     ------------- -------------------------- 0.7/2.0 MB 1.5 MB/s eta 0:00:01
     ---------------- ----------------------- 0.8/2.0 MB 1.6 MB/s eta 0:00:01
     ----------------- ---------------------- 0.9/2.0 MB 1.6 MB/s eta 0:00:01
     ----------------- ---------------------- 0.9/2.0 MB 1.6 MB/s eta 0:00:01
     -------------------- ------------------- 1.0/2.0 MB 1.6 MB/s eta 0:00:01
     --------------------- ------------------ 1.1/2.0 MB 1.6 MB/s eta 0:00:01
     ----------------------- ---------------- 1.2/2.0 MB 1.6 MB/s eta 0:00:01
     ------------------------ --------------- 1.3/2.0 MB 1.6 MB/s eta 0:00:01
     -------------------------- ------------- 1.4/2.0 MB 1.6 MB/s eta 0:00:01
     --------------------------- ------------ 1.4/2.0 MB 1.5 MB/s eta 0:00:01
     --------------------------- ------------ 1.4/2.0 MB 1.5 MB/s eta 0:00:01
     ----------------------------- ---------- 1.5/2.0 MB 1.5 MB/s eta 0:00:01
     ----------------------------- ---------- 1.5/2.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------ --------- 1.6/2.0 MB 1.4 MB/s eta 0:00:01
     ------------------------------- -------- 1.6/2.0 MB 1.4 MB/s eta 0:00:01
     -------------------------------- ------- 1.6/2.0 MB 1.4 MB/s eta 0:00:01
     --------------------------------- ------ 1.7/2.0 MB 1.4 MB/s eta 0:00:01
     ---------------------------------- ----- 1.8/2.0 MB 1.4 MB/s eta 0:00:01
     ----------------------------------- ---- 1.8/2.0 MB 1.4 MB/s eta 0:00:01
     ------------------------------------ --- 1.9/2.0 MB 1.4 MB/s eta 0:00:01
     -------------------------------------- - 1.9/2.0 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.0 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------- 2.0/2.0 MB 1.4 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython-sql) (8.14.0)
Collecting prettytable
  Downloading prettytable-3.8.0-py3-none-any.whl (27 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------- 41.2/41.2 kB 1.9 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp39-cp39-win_amd64.whl (192 kB)
     ---------------------------------------- 0.0/192.1 kB ? eta -:--:--
     ------------------ -------------------- 92.2/192.1 kB 2.6 MB/s eta 0:00:01
     ------------------------------------ - 184.3/192.1 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 192.1/192.1 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\imenb\appdata\roaming\python\python39\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: jedi>=0.16 in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.19.0)
Requirement already satisfied: colorama in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: pygments>=2.4.0 in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: matplotlib-inline in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pickleshare in c:\users\imenb\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in c:\users\imenb\appdata\roaming\python\python39\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\imenb\appdata\roaming\python\python39\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\imenb\appdata\roaming\python\python39\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\imenb\appdata\roaming\python\python39\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\imenb\appdata\roaming\python\python39\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: ipython-genutils, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed greenlet-2.0.2 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.8.0 sqlalchemy-2.0.20 sqlparse-0.4.4

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas==1.1.5

In [4]:
%sql sqlite:///my_data1.db

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [10]:
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-05-11,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,00:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,02:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-06-12,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

**Note:This below code is added to remove blank rows from table**

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [13]:
%sql select distinct(Launch_Site) from spacextbl

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [15]:
%sql select * from spacextbl limit 10

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2013-03-12', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-06-01', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [18]:
%sql select * from spacextbl where launch_Site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [22]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [25]:
%sql select sum(PAYLOAD_MASS__KG_) as total_mass from spacextbl where customer='NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

In [27]:
%sql select * from spacextbl limit 10

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2013-03-12', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-06-01', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [28]:
%sql select avg(PAYLOAD_MASS__KG_) from spacextbl where Booster_Version='F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [31]:
%sql select Date from spacextbl where Landing_Outcome='Success (ground pad)' limit 1

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

In [34]:
%sql select distinct(landing_outcome) from spacextbl

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [33]:

%sql select * from spacextbl limit 10

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2013-03-12', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-06-01', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [35]:
%sql select Booster_Version from spacextbl where landing_outcome='Success (drone ship)' and PAYLOAD_MASS__KG_ between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [37]:
%sql select mission_outcome, count(mission_outcome) from spacextbl

 * sqlite:///my_data1.db
Done.

[('Success', 101)]

In [15]:
%sql select count(mission_outcome) from spacextbl where mission_outcome like 'success%'

 * sqlite:///my_data1.db
Done.

[(100,)]

In [16]:
%sql select (select count(mission_outcome) from spacextbl where mission_outcome like 'success%') as success, (select count(mission_outcome) from spacextbl where mission_outcome like 'failure%') as failure from spacextbl limit 1

 * sqlite:///my_data1.db
Done.

[(100, 1)]

In [39]:
%sql select * from spacextbl limit 10

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2013-03-12', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-06-01', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [43]:
%sql select booster_version, sum(PAYLOAD_MASS__KG_)	 as mass from spacextbl group by booster_version order by mass desc limit 10

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1060.3', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1049.7 ', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.4', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [49]:
%sql select substr(Date, 4, 1) as month,landing_outcome, booster_version, launch_site from spacextbl where landing_outcome='Failure (drone ship)' and date like '2015%'

 * sqlite:///my_data1.db
Done.

[('5', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('5', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [51]:
%sql select count(landing_outcome) as co, landing_outcome from (select * from spacextbl where date between '2010-06-04'and '2017-03-20') group by landing_outcome order by co desc

 * sqlite:///my_data1.db
Done.

[(10, 'No attempt'),
 (5, 'Success (ground pad)'),
 (5, 'Success (drone ship)'),
 (5, 'Failure (drone ship)'),
 (3, 'Controlled (ocean)'),
 (2, 'Uncontrolled (ocean)'),
 (1, 'Precluded (drone ship)'),
 (1, 'Failure (parachute)')]

In [52]:
%sql select distinct(launch_site) from spacextbl

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>